
---
import AuthLoginForm from "../islands/AuthLoginForm.jsx";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login | Student Portal</title>
  </head>

  <body class="min-h-screen flex items-center justify-center bg-muted">
    <AuthLoginForm client:load />
  </body>
</html>