
---
import AuthRegisterForm from "../islands/AuthRegisterForm";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Register | Student Portal</title>
  </head>

  <body class="min-h-screen flex items-center justify-center bg-muted">
    <AuthRegisterForm client:load />
  </body>
</html>